---
import LayoutDefault from "../layouts/LayoutDefault.astro";

const title = "About";
const description = "My Description";
const image = "/images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<h1>About</h1>
</LayoutDefault>
