---
import LayoutDefault from "../layouts/LayoutDefault.astro";

const title = "Home";
const description = "My Description";
const image = "./images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<h1>Hello</h1>
	<h2>Heading 2</h2>
	<p>lorem</p>
	<h2>Heading 2</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate et, minima incidunt veniam distinctio
		provident velit quidem saepe ab, recusandae veritatis. Repellendus, nemo obcaecati! Eaque id dolor quasi cumque.
	</p>
	<details>
		<summary>Wooo</summary>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias cumque, saepe reprehenderit assumenda ipsum
		magni commodi nemo quis repudiandae cupiditate consequuntur ratione hic, laudantium aliquam dignissimos corrupti culpa?
		Dolorum?
	</details>
	<details>
		<summary>Wooo</summary>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias cumque, saepe reprehenderit assumenda ipsum
		magni commodi nemo quis repudiandae cupiditate consequuntur ratione hic, laudantium aliquam dignissimos corrupti culpa?
		Dolorum?
	</details>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi! Ab voluptatibus perferendis beatae iure
		neque incidunt deserunt asperiores obcaecati est. Beatae veritatis quia sit, magni accusamus labore totam
		consequuntur.
	</p>
	<p>I have a date on <time datetime="2008-02-14 20:00">Valentines day</time>.</p>
	<form action="">
		<button>test</button>
	</form>
	<ol>
		<li>test</li>
		<li>test</li>
		<li>
			second item
			<ol>
				<li>test</li>
			</ol>
		</li>
	</ol>
</LayoutDefault>
