---
import LayoutDefault from "../layouts/LayoutDefault.astro";
---

<LayoutDefault
	title="Home"
	description="This is the homepage's description yippee jdfsjdkfhskhf sjdkfhksjdhf khdfks jhdjskfh ksdjfh "
	image="/images/favicon.svg"
>
	<h1>Testing</h1>
	<form id="formContact">
		<fieldset>
			<legend>Your Name</legend>
			<label for="your-name">Enter name</label>
			<input name="your-name" required />
		</fieldset>
		<fieldset>
			<legend>Your Email</legend>
			<label for="your-email">Enter email</label>
			<input type="email" name="your-email" required />
		</fieldset>

		<fieldset>
			<legend>Your Subject</legend>
			<label for="your-subject">Enter subject</label>
			<input name="your-subject" required />
		</fieldset>
		<fieldset>
			<legend>Your Message</legend>
			<label for="your-message">Enter message</label>
			<textarea name="your-message" required></textarea>
		</fieldset>
		<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p8-o1" />
		<button type="submit">Send Message</button>
		<output id="statusMessage" aria-live="polite">Status Message</output>
	</form>

	<script is:inline>
		formContact.onsubmit = async (e) => {
			e.preventDefault();

			statusMessage.setAttribute("data-status", "submitting");
			statusMessage.value = "Submitting form...";

			let response = await fetch("https://lab.vivtec.co.za/forms/wp-json/contact-form-7/v1/contact-forms/6/feedback", {
				method: "POST",
				body: new FormData(formContact),
			});

			let result = await response.json();

			statusMessage.setAttribute("data-status", "completed");
			statusMessage.value = result.message;
		};
	</script>

	<style>
		output {
			&[data-status="submitting"] {
				background: orange;
			}
			&[data-status="completed"] {
				background: green;
			}
		}
	</style>
</LayoutDefault>
