---
import LayoutDefault from "../layouts/LayoutDefault.astro";
---

<LayoutDefault
	title="Home"
	description="This is the homepage's description yippee jdfsjdkfhskhf sjdkfhksjdhf khdfks jhdjskfh ksdjfh "
	image="/images/favicon.svg"
>
	<h1>Testing</h1>
</LayoutDefault>
